
    footer{
        width: 100%;
        height: 300;
        background: black;
        display: flex;
        justify-content: center;
    }
    .container-footer{
        display:flex;
        width: 900px;
        justify-content: space-between;
        align-items: center;
    }
    .text{
        color: white;
       
    }
 
    .text h2{
        font-size: 32px;
        
    }
    .text ul li a{
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
    }
    .text ul{
        list-style: none;
        text-align: left;
    }

    @media screen and (max-width:992px) and (min-width:668px){
  
        div.text_img {
          width: 0%;
        }
      }
      
      @media screen and (max-width:667px){
      
        div.text_img {
            width: 0%;
          }
        }
      
      @media screen and (max-width:457px) {
        div.text_img {
          width: 0%;
        }
 
        }

